body{
	background-color: #fc5e03;
	border-radius: 2.5%;
	font: Time New Romans;
}
header{
	background-color:#e6e6e6;
	margin: .5%;
	height:100%;
	padding: 0.5%;
	border-radius: 0.5%;
	font: Time New Romans;
}
.topnav {
  background-color: #e6e6e6;
  overflow: hidden;
  border: 5%;
  margin:.5%;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  font-size: 16px;
  background-color: #fc6f03;
}

.topnav a:hover {
  background-color: #ff4400;
  color: white;