body{
	background-color: #fc5e03;
	border-radius: 2.5%;
	font: Time New Romans;
}
header{
	background-color:#e6e6e6;
	margin: .5%;
	height:100%;
	padding: 0.5%;
	border-radius: 0.5%;
	font: Time New Romans;
}
iframe{

}
#welcome{
	background-color:#fc6f03;
	width:75%;
	height:25%;
	color:white;
	padding: 0.5%;
	margin: 2.5%;
	border-radius: 5%;
	text-align: center;
	font: Time New Romans;
}
#latest-video{
	color: white;
	background-color: #fc6f03;
	width:80%;
	padding-bottom: 5%;
	margin: 2.5%;
	border-radius: 2.5%;
	text-align: center;
	font: Time New Romans;
}
#latest-instagram{
	color: white;
	background-color: #fc6f03;
	width:80%;
	padding-bottom: 5%;
	margin: 2.5%;
	border-radius: 2.5%;
	transition: transform 1s;
	text-align: center;
	font: Time New Romans;
}
#insta-photo:hover {
	transform: scale(1.01);
}
#insta-photo{
	transition: transform 1s;
	text-align: center;
	font: Time New Romans;
}
#link{
    color: white;
	background-color: #fc6f03;
	width:80%;
	padding-bottom: 1.5%;
	margin: 2.5%;
	border-radius: 2.5%;
	text-align: center;
	font: Time New Romans;
	transition: transform 1s;
}
#links{
	transition: transform .25s;
	color:white;
}
#links:hover{
	transform: scale(1.1);
}
#car{
	color: white;
	background-color: #fc6f03;
	width:80%;
	padding-bottom: 5%;
	margin: 2.5%;
	border-radius: 2.5%;
	transition: transform .75s;
	text-align: center;
	font: Time New Romans;
}

