/*Main*/
body{
	background-color: #00528B;
	border-radius: 2.5%;
	font: Time New Romans;
}
header{
	background-color:#e6e6e6;
	margin: .5%;
	height:100%;
	padding: 0.5%;
	border-radius: 0.5%;
	font: Time New Romans;
}
iframe{

}
#logo{
  padding: 1px;
  margin: 1px;
  transition: transform 5s;
}
.logo:hover{
  transform: scale(1.02);
}
.logo:hover a{
	transform: scale(1.02);
}

#welcome{
	background-color: darkorange;
	width:75%;
	height:25%;
	color:white;
	padding: 0.5%;
	margin: 2.5%;
	border-radius: 5%;
	text-align: center;
	font: Time New Romans;
}
#latest-video{
	color: white;
	background-color: #darkorange;
	width:80%;
	padding-bottom: 5%;
	margin: 2.5%;
	border-radius: 2.5%;
	text-align: center;
	font: Time New Romans;
  padding-top: .5%;
}
#latest-instagram{
	color: white;
	background-color: darkorange;
	width:80%;
	padding-bottom: 5%;
	margin: 2.5%;
	border-radius: 2.5%;
	transition: transform 1s;
	text-align: center;
	font: Time New Romans;
  padding-top: 0.5%
}
#insta-photo:hover {
	transform: scale(1.01);
}
#insta-photo{
	transition: transform 1s;
	text-align: center;
	font: Time New Romans;
}
#link{
    color: white;
	background-color: darkorange;
	width:80%;
	padding-bottom: 1.5%;
	margin: 2.5%;
	border-radius: 2.5%;
	text-align: center;
	font: Time New Romans;
	transition: transform 1s;
}
#links{
	transition: transform .25s;
}
#links a{
	color:white;
}
#links:hover{
	transform: scale(1.1);
}
.links{
	color: white;
    transition: transform .25s;
}
.links a{
        color: white;
}
.links:hover{
  transform: scale(1.1);
}
.link:hover{
  transform: scale(1.1);
}
#car{
	color: white;
	background-color: darkorange;
	width:80%;
	padding-bottom: 2.5%;
	margin: 2.5%;
	border-radius: 2.5%;
	transition: transform .75s;
	text-align: center;
	font: Time New Romans;
  margin-bottom: 0px;
  border-bottom: 0px;
}
#cars{
  border-bottom: 0%;
}
#extra-info{
	color: white;
	background-color: darkorange;
	width:80%;
	padding-bottom: 0.5%;
  padding-top: 0.75%;
	margin: 2.5%;
	border-radius: 2.5%;
	transition: transform .75s;
	text-align: center;
	font: Time New Romans;
}